/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
.custom-container {
  width: 70%;
}

.line-height-medium {
  line-height: 2;
  /* 调整行距的值，可以根据需要进行调整 */
}

.custom-button {
  margin-top: auto;
  /* 将按钮推到底部 */
}

.dot-none {
  list-style: none;
}

.bg-color {
  background-color: #0e2a47ff;
}

.text-color {
  color: white;
}

.h-8 {
  height: 8rem;
}

.cardtitle {
  color: #0e2a47ff;
}